@font-face{
    font-family: "montserrat-regular";
    src: url('Montserrat-Regular.ttf');
}

@font-face{
    font-family: "raleway-regular";
    src: url('Raleway-Regular.ttf');
}

body{
    font-family: "montserrat-regular";
    }

header{
    font-family: "montserrat-regular";
    }

footer{
    font-family: "montserrat-regular";
    }

h1{
    font-family: "raleway-regular";
    font-size: 40px;
}

a { color: black;
    text-decoration: none;
}
  
a:hover{ 
    color: #17c1ff;
}